<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library | Book Issue Page</title>
    <link rel="stylesheet" href="/static/books.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.tailwindcss.com"></script>
   
  



</head>
<body>

<form action="#" method="GET" style="position:sticky; top:0; background-color: #333;
color: #fff;
text-align: center;
padding: 10px 0;">
<div class="input-group container">
  <input type="text" name="sear"  class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
  <button type="submit" class="btn btn-outline-primary">search</button>
</div>
</form>
<br>
<fieldset >
    
<form action="#" method="POST" style=" display:flex; justify-content: space-around;  align-items: center; "  > 
  {% csrf_token %}
    <label for="bookid"> Book ID : -</label>
    <input type="text" name="bookid" id="bookId" placeholder="Enter Book Id"      class="  rounded-md border-black py-1.5 text-gray-900 shadow-sm  ">
    
    <label for="memid">Member Id : - </label>
    <input type="text" name="memid" id="memid" placeholder="Enter Member Id"                 class="  rounded-md  py-1.5 text-gray-900 shadow-sm ">
    
    <label for="rdate">Return Date : - </label>
    <input type="date" name="rdate" id="rdate" placeholder="Enter Member Id"                 class="  rounded-md  py-1.5 text-gray-900 shadow-sm ">
 
<button type="submit"  style="background:green;" class="btn btn-success">Issue Book</button> 
</form>

</fieldset>
<br>
<hr>
<div class="overflow-auto container-md" >
  <table border="2"   style="border-color :aquamarine; height:80vh; width:90vw; text-align:center; overflow:scroll; "  class=" table table-hover overflow-auto">

    <thead>
      <tr  class="table-active">
        <th  scope="col">id</th>
        <th scope="col">BookID</th>
        <th scope="col">Title</th>
        <th scope="col">Authors</th>
        <th scope="col">avrage_rating</th>
        <th scope="col">isbn</th>
        <th scope="col">isbn13</th>
        <th scope="col">num_pages</th>
        <th scope="col">ratings_count</th>
        <th scope="col">text_reviews_count</th>
        <th scope="col">Publication_date</th>
        <th scope="col">publisher</th>
        <th scope="col">Stock</th>
      
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for item in books %}
       
        <th scope="row">{{item.id}}</th>
        <td>{{item.bookID}}</td>
        <td>{{item.title}}</td>
        <td>{{item.authors}}</td>
        <td>{{item.avrage_rating}}</td>
        <td>{{item.isbn}}</td>
        <td>{{item.isbn13}}</td>
        <td>{{item.num_pages}}</td>
        <td>{{item.ratings_count}}</td>
        <td>{{item.text_reviews_count}}</td>
        <td>{{item.publication_date}}</td>
        <td>{{item.publisher}}</td>
        <td>{{item.quantity_in_stock}}</td>
        
    
      </tr>
      {% endfor %}
      
  </table>
</div>
</body>
</html>




